

 a{
     margin-top: 50px;
    text-align: center;
    text-decoration: none;
    color:rgb(68, 31, 92) !important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

a:hover{
    color: rgb(51, 138, 66);
    text-decoration: none !important;
    border-bottom: 1px dashed rgb(63, 10, 70);
    width: 500px;

}


h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(63, 10, 70) !important;
}


#work {
    width: 700px;
    float: right;
    margin-right: 60px;
    line-height: 2;
}


.alec {
    width: 390px;
    float: right;
    position: fixed;
}

.alecP {
    float: left !important;
    margin-left: 450px;
    width: 700px;
    margin-top: 150px;
}

.card {
    height: 40px;
     margin-top: 40px;
  
     margin-left: 38px;

}

.table thead th {
    border:none;
}

.table thead th {
    border-bottom: none !important;
}