<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=    According to an interview Benjamin did for Billboard, he was born in Phoenix, Arizona, but lived in Long Island, New York, during kindergarten and first grade.[6] In addition, he has a sister for whom he wrote his song , "If We Have Each Other.", initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/stylesheet.css" />
  
    <title>Document</title>
</head>
<body>
    <h1> What about him?</h1>
    <img class="alec" src="/images/Alec.jpeg"/>
    <div id="work">According to an interview Benjamin did for Billboard, he was born in Phoenix, Arizona, but lived in Long Island, <br>
        New York, during kindergarten and first grade. In addition, he has a sister for whom he wrote his song , "If We Have Each Other."
        According to an interview Benjamin did for Billboard, he was born in Phoenix, Arizona, but lived in Long Island, <br>
        New York, during kindergarten and first grade. In addition, he has a sister for whom he wrote his song , "If We Have Each Other."
        According to an interview Benjamin did for Billboard, he was born in Phoenix, Arizona, but lived in Long Island, <br>
        New York, during kindergarten and first grade. In addition, he has a sister for whom he wrote his song , "If We Have Each Other."</div>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
</body>
</html>